<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shmulik.myjavaproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.shmulik.control.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.shmulik.control.LoginActivity" />
        <activity android:name="com.example.shmulik.control.SignupActivity" />
        <activity
            android:name="com.example.shmulik.control.UserMainActivity"
            android:label="@string/title_activity_user_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.shmulik.control.CustomerMainActivity" />
        <activity android:name="com.example.shmulik.control.CustomerBookViewActivity" />
        <activity android:name="com.example.shmulik.control.SupplierMainActivity" />
        <activity android:name="com.example.shmulik.control.SupplierBookViewActivity" />
        <activity android:name="com.example.shmulik.control.AddBookActivity" />
        <activity android:name="com.example.shmulik.control.CartActivity" />
        <activity android:name="com.example.shmulik.control.SupplierAddBookFromListActivity" />
        <activity android:name="com.example.shmulik.control.MyOrdersActivity" />
        <activity android:name="com.example.shmulik.control.OrderViewActivity" />
        <activity android:name="com.example.shmulik.control.CustomerMainActivityNew" />
        <activity android:name="com.example.shmulik.control.EditUserDetailsActivity"></activity>
    </application>

</manifest>